*{
    margin: 0;
    padding: 0;

}

.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vw;
    border: 5px solid darkblue;
    background-color: lightgreen;
}
.Header-container{
    display: flex;
    justify-content: center;
 
    padding: 20px;
}
input{
    font-size: 20px;
    padding: 5px;
}
form{
    margin-top: 20px 0;
    margin-bottom: 10px;
}
.user{
    width: 60%;
    border: 5px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow:  5px 5px 5px rgb(rgba(255, 0, 0, 0.103), rgba(0, 128, 0, 0.11), rgba(0, 0, 255, 0.11)(0, 0, 255, 0));
}
table{
    width: 100%;
}
td{width: 50%;
    text-align: center;
    padding: 5px;
    border: 1px solid black;

}
.image{display: flex;
justify-content: center;
align-items: center;}
.image img{
    border-radius: 50%;
}